<% provide(:title, 'Contact Us') %>
<div class="center hero-unit">
<h1>Contact Us</h1>
<h2>Please feel free to tell us your thoughts.</br></br>
<a href='&#109;a&#105;&#108;&#116;o&#58;wikiw%6&#57;%&#55;4n&#101;&#115;s&#37;40g&#109;a%&#54;9l&#46;c&#37;&#54;F&#37;6D'>&#119;ikiwitne&#115;s&#64;&#103;&#109;ail&#46;&#99;&#111;m</a></h2>
</div>
