<% provide(:title, 'Getting Started') %>
<div class="center hero-unit">
<h1>Getting Started</h1>
<h6><%= link_to "WikiWitness", mission_path %> is a project dedicated to preserving first-person witness testimony of important historical events. The perspective of journalists and historians may change over time, or may differ from that of the masses. Archiving primary sources in an open format allows anyone, at any time, to draw their own conclusions. You can <%= link_to "browse events", :events %> to view or recommend narratives from other users, or to add your own story of what happened.</h6>
<h2>
  	Why not try <%= link_to "making an account?", signup_path %>
</h2>
</div>
