<% provide(:title, 'Guidelines') %>
<div class="profileheader roundedtop">
<h1>Guidelines</h1>
</div>
<div class="info roundedbottom">
<p>WikiWitness is founded on the principle that every witness deserves a voice. While simple in theory, the issue becomes complicated by internet censorship or by real world power dynamics between users -- indeed, it is possible that outside of WikiWitness, some users are involved in curtailing the voice or freedoms of other users. For this reason, some events allow anonymous narratives to preserve the safety of witnesses who speak out.</p>
<p>This is public domain. Your text and narratives will be public, and will be accessible to anyone with an internet connection, even if they are not logged in, or do not have an account with WikiWitness.</p>
<p>Your narrative is going to be most effective, and historically valuable, if you describe chronologically what occurred and try to remember as many details as possible. We request that you avoid speculation, but please feel free to include subjective interpretations. You are likely to have a clearer idea of your own story if you avoid reading the narratives of other users before completing at least a preliminary draft.</p>
<p>Your story of what happened is bound to differ to some extent from anyone else's. Not only is this permissable, but desirable. WikiWitness is not concerned with arriving at a universal objective truth of what occurred, but rather seeks to collect each individual's perspective. Please do not use your narrative to directly debate with other users and their stories. Even if you think the user is lying, or that the user was not present at the event, WikiWitness will not take action to delete their posts. WikiWitness is not a forum for debate, nor a fact checking organization. You can help narratives you feel are particularly accurate or powerful reach more users by endorsing (upvoting) them.</p>
<p>WikiWitness does not censor messages based on individual beliefs or opinions, and will never modify them for any reason. Moderators do not have the power to edit your stories. However, for certain violations outlined below, WikiWitness may delete your narrative. These guidelines are aimed to preserve this site's principle and sole purpose as a place to share first person accounts of notable events.</p>
<ul>
<li><b>Mostly argument:</b> Do not use your narrative to debate with the narratives of other users. We will either contact you to request that you edit your narrative, or if it is mainly an argumentative response to another narrative, we will delete it.
<li><b>Mostly venting:</b> Do not use your narrative as a soapbox with which to attack another user or person. We know you likely have good reason for your strong feelings, but WikiWitness is not an emotional outlet. Ask yourself, "What did I see that made me so upset?" and tell us how it went down. Let users come to their own conclusions.
<li><b>Not first person:</b> If you clearly state in your narrative that you were not actually present at the event, it will be deleted. If you were trying to post your friend's first person account, they'll need to sign up and post it themselves. No hearsay is permitted.
<li><b>Not a narrative of the event:</b> If your narrative is clearly not your first person account of the event you posted to (e.g. you write about another event instead), it will be deleted.
<li><b>Illegal:</b> Any post and account that contains illegal (in the United States) content will be removed or deleted immediately. A straightforward example of this kind of prohibited content would be child pornography.
<li><b>Spam or Solicitation:</b> Spamming, promotion, or solicitation of any kind is prohibited and generally results in account bans.
</ul>
<p>WikiWitness reserves the right to delete any account or narrative at our discretion. We take our policies very seriously, but may not always be able to answer why a specific deletion or ban occurred for liability reasons.</p>
</div>
