<% provide(:title, 'Guidelines') %>
<div class="profileheader roundedtop">
<h1>Guidelines</h1>
</div>
<div class="info roundedbottom">
<p>Here at WikiWitness, we want everyone to feel like they have a voice. Sometimes this can be complicated, especially when outside of our website, some of our users have less of a voice than others. It is possible that some of our users are involved in actively oppressing other users. No matter what the outside circumstance, everyone is allowed to post their story of what happened as long as they were present and witnessed the event. Everyone.</p>
<p>Your story of what happened is bound to differ to some extent from anyone else's. Not only is this permissable, but desirable. We believe this to be a more authentic portrait of what really happened. When writing what you saw, please do not directly debate with other users and their stories. Even if you think they are lying, or that they weren't there, we won't take action to delete their posts. Similarly, don't post merely to attack their version of what happened. Just tell us what you saw instead. This is not a forum for debate, and we don't believe that we'll arrive at some higher form of truth by letting our users fight it out.</p>
<p>We do not censor messages based on individual beliefs or opinions, and will never modify them for any reason. Moderators do not have the power to edit your stories. However, for certain violations outlined below, a post may be deleted. These guidelines are aimed to preserve this site's principle and sole purpose as a place to share first person accounts of notable events.</p>
<ul>
<li>Do not use your post to debate with the posts of other users. We will either contact you to request that you edit your post to remove the reference, or if the post is mainly argumentative, we will delete it.
<li>Do not use your post as a soapbox with which to attack another user or person. We know you may have passionate feelings about certain individuals, but we want to focus on what you saw over what you thought. Ask yourself, "What did I see that made me so upset?" and tell us how it went down. Let users come to their own conclusions.
<li>If you clearly say in your post that you were not actually present at the event, it will be deleted. If you were trying to post your friend's first person account, they'll need to sign up and post it themselves. No hearsay is permitted.
<li>If your post is clearly not your first person account of the event you posted to (you write about another event instead), it will be deleted.
<li>This is public domain. Your text and narratives will be public and will be accessible to anyone with an internet connection, even if they are not logged in or do not have an account with WikiWitness.
<li>Any post and account that contains illegal (in the United States) content will be removed or deleted immediately. A straightforward example of this kind of prohibited content would be child pornography.
<li>Spamming of any kind is prohibited and will result in immediate bans.
<li>We reserve the right to delete any account or narrative at our discretion without any explanation.
</ul>
</div>