<% provide(:title, 'Mission') %>
<div class="center hero-unit" style="margin: 0px 0px 0px 0px;">
<h1>Mission</h1>
<h6>Witness testimony, while subjective and often conflicting with other evidence
at hand, remains the critical ingredient in both modern journalism and historical
scholarship. Some accounts have become iconic, like Herbert Morrison’s live
broadcast of the Hindenburg disaster. He uttered “Oh, the humanity!” and his words
are still famous, forever haunting.
</br></br>Other accounts have been lost entirely to negligence, war, natural disaster, or
merely the inability to recognize a narrative’s future importance in its present day.
But while we have made leaps and bounds in technological solutions to information
preservation, still little effort is directed towards actively encouraging witnesses to
transcribe their experiences and submit them for posterity. Where a website like
Wikipedia collects the scholarship that has come out of the study of primary
sources, WikiWitness aims to collect and preserve the primary sources themselves.
No longer the exclusive domain of scholars and reporters, this project will render
accessible to any reader the stories of people who have been there when it was
happening, and to any witness, the power to tell their story.</h6>
</div>
