<% provide(:title, "Search") %>
<div class = "profileheader roundedtop">
<h1>Search</h1>
</div>
<div class = "info roundedbottom">
<%= form_tag(search_path, :method => 'get') do %>
<%= select_tag :scope, options_for_select(%w{ User Event Narrative }, 'Event'), {:style => 'width: 120px'} %>
<%= text_field_tag :search, params[:search] %>
</br></br>
<%= submit_tag "Search", :name => nil, :class => 'btn btn-large btn-primary' %>
<% end %>
</div>