<%= form_for([@narrative, @narrative.recommendations.build]) do |f| %>
	<p>Snippet (optional): Copy and paste what you feel is the most powerful sentence or phrase, up to 140 characters, to help other users find what they're looking for.</p>
	</br>
    <%= f.text_field :snippet %>
 	</br></br>
    <h3><%= f.submit "Recommend" %></h3>
<% end %>