<div class="recommendation">
<h1>Recommended!</h1>
<% if !recommendation.snippet.nil? %>
	<p><i><%= recommendation.snippet %></i></p>
<% end %>
<% if current_user?(recommendation.user) %>
	<%= button_to 'Unrecommend', event_narrative_recommendation_path(@narrative.event_id, @narrative), :method => :delete %>
<% end %>
</div>