<% provide(:title, 'Users') %>
<div class="profileheader roundedtop">
	<h1>Users</h1>
</div>

<div class="listing roundedbottom">
<%= will_paginate %>
<ul>
  <%= render @users %>
  <% if @users.empty? %>
  	<p>Sorry, we couldn't find any users matching that name.</p>
  <% end %>
</ul>
<%= will_paginate %>
</div>