<% provide(:title, 'Events') %>
<div class="navsearch">
<h1>Events</h1>
</div>
<div class="listing">
<% if admin_user?(current_user) %>
	<h2><%= link_to 'New Event', new_event_path %></h2>
<% end %>
<%= will_paginate %>
<ul class="events">
  <%= render @events %>
  <% if @events.empty? %>
  	<p>Sorry, we couldn't find any events that match that name.</p>
  <% end %>
</ul>
<%= will_paginate %>
</div>