<% provide(:title, 'Narratives') %>
<div class = "profileheader roundedtop">
	<h1>Narratives</h1>
</div>
<div class = "small-holder roundedbottom">
<%= will_paginate %>
  <%= render @narratives %>
  <% if @narratives.empty? %>
  	<p>Sorry, we couldn't find any narratives that contain that text.</p>
  <% end %>
<%= will_paginate %>
</info>