/* colors */

$mainWhite: #ffffff;
$mainBlack: #000000;
$accentBlue: #3399ff;
$accentRed: #ff3300;
$accentOrange: #ff6600;
$accentMagenta: #ff0066;
$lightGrey: #cccccc;
$darkGrey: #999999;

$grayMediumLight: #eaeaea;
$niceBlandGreen: #CEFFCE;

$navbarLinkColor: $mainWhite;


@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  background: $mainBlack;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

$navbarHeight: 60px;

.navbig .nav { height: $navbarHeight; }
.navbig .nav > li > a { padding: ($navbarHeight - 20)/2 10px (($navbarHeight - 20)/2 + 1); }
.navbig .brand { padding: ((($navbarHeight - 20) / 2) * 0.8) 20px ((($navbarHeight - 20) / 2) * 1.2); }

$subheaderHeight: 26px;

.subheader .nav { height: $subheaderHeight; }
.subheader .nav > li > a { padding: ($subheaderHeight - 20)/2 10px (($subheaderHeight - 20)/2 + 1); }
.subheader .brand { padding: ((($subheaderHeight - 20) / 2) * 0.8) 20px ((($subheaderHeight - 20) / 2) * 1.2); }

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  border-radius: 0;
}

.form-search {
  padding: 0;
  margin: 0;
}

.nav h1 {
  font-size: 30px;
  padding: 0;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 0;
}

.navsearch .nav a {
  
}

.navsearch {
  padding: 5px 5px 5px 0px;
  margin: 0;
  background: $accentRed;
  height: 38px;
  border-radius: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-top: ($navbarHeight - 25) / 2;
  width: 180px;
}

.roundedtop {
  background: $accentBlue;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.roundedbottom {
  background: $darkGrey;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hero-unit {
  margin-top: 30px;
  background: $accentRed;
}

.login {
  width: 75%;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2 {
  line-height: 1;
  color: $mainWhite;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4 {
  text-align: center;
  color: $mainWhite;
}

h5 {
  font-size: 1.7em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $mainWhite;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  margin-left: auto;
  margin-right: auto;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding-left: 12px;
  }
}



.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  border-radius: 5px;
  list-style: none;
  margin: 0px 0px 0px 0px;
  li {
    overflow: auto;
    padding: 0% 0% 1% 10%;
    }
}

.events {
  border-radius: 5px;
  list-style: none;
  margin: 0px 0px 0px 0px;
  li {
    overflow: auto;
    padding: 0% 0% 1% 10%;
    }
}


.listing {
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  margin-bottom: 20px;
  background-color: $mainWhite;
  h1 {
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    color: $accentMagenta;
  }
  p {
    font-size: 12px;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

.narrative {
  border-radius: 5px;
  padding: 30px 30px 15px 30px;
  margin-bottom: 20px;
  background-color: $mainWhite;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: left;
    color: $darkGrey;
  }
  p {
    font-size: 12px;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

.narrative-plusimage {
  border-radius: 5px;
  padding: 30px 30px 15px 30px;
  margin-bottom: 20px;
  float: left;
  width: 65%;
  height: 200px;
  background-color: $mainWhite;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: left;
    color: $darkGrey;
  }
  p {
    font-size: 12px;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

.info {
  border-radius: 5px;
  padding: 20px 30px 15px 30px;
  margin-bottom: 20px;
  background-color: $mainWhite;
  h1 {
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: $accentMagenta;
  }
  p {
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

.search {
  border-radius: 5px;
  background-color: $mainWhite;
  text-align: center;
  padding: 0px 200px 1px 200px;
  margin-bottom: 30px;
  h1 {
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    color: $accentMagenta;
  }
}

.searchbar {
  border-radius: 5px;
  background-color: $mainWhite;
  text-align: left;
  padding: 20px 30px 15px 30px;
  margin-bottom: 30px;
  h1 {
    color: $accentRed;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: left;
    padding: 0px;
  }
  h4 {
    color: $accentMagenta;
    line-height: 2.0em;
  }
  li {
    display: inline;
    overflow: auto;
    padding-right: 20px;
    list-style-type: none;
  }
}

.profile {
  border-radius: 5px;
  padding: 20px 30px 15px 30px;
  margin-bottom: 30px;
  background-color: $mainWhite;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: left;
    color: $darkGrey;
  }
  p {
    font-size: 18px;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

.recommendation {
  border-radius: 5px;
  padding: 20px 30px 0px 30px;
  background-color: $lightGrey;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: center;
    color: $accentBlue;
  }
  p {
    font-size: 16px;
    font-weight: 200;
    text-align: center;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: center;
  }
}

.contribute {
    text-align: center;
}

/* image format */

.align-right {
  float: right;
  padding: 0px 0px 15px 15px;
}

.medium {
  width: 200px;
  height: 200px;
}

.narr-image {
  border-radius: 5px;
  float: right;
  width: 246px;
  height: 246px;
}

.wrapper {
  width: 100%;
}