/* colors */

$mainWhite: #ffffff;
$mainBlack: #000000;
$accentBlue: #3399ff;
$accentRed: #333747;
$accentOrange: #545b77;
$accentMagenta: #ff0066;
$lightGrey: #cccccc;
$darkGrey: #999999;
$grayMediumLight: #eaeaea;
$niceBlandGreen: #CEFFCE;

/* boostrap overrides */

$navbarLinkColor: $mainWhite;

@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  background: $mainBlack;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2 {
  line-height: 1;
  color: $mainWhite;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
}

h4 {
  text-align: center;
  color: $mainWhite;
  margin-bottom: 0px;
}

h5 {
  font-size: 1.7em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $mainWhite;
  margin-bottom: 0px;
}

h6 {
  margin: 20px 0px 20px 0px;
  text-align: justify;
  text-justify: inter-word;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 0px;
}

/* top-level container */

.fill {
  min-height: 100%;
  width: 50%
}

/* header */

$navbarHeight: 60px;

.navbig .nav { height: $navbarHeight; }
.navbig .nav > li > a { padding: ($navbarHeight - 20)/2 10px (($navbarHeight - 20)/2 + 1); }
.navbig .brand { padding: ((($navbarHeight - 20) / 2) * 0.8) 20px ((($navbarHeight - 20) / 2) * 1.2); }

$subheaderHeight: 26px;

.subheader .nav { height: $subheaderHeight; }
.subheader .nav > li > a { padding: ($subheaderHeight - 20)/2 10px (($subheaderHeight - 20)/2 + 1); }
.subheader .brand { padding: ((($subheaderHeight - 20) / 2) * 0.8) 20px ((($subheaderHeight - 20) / 2) * 1.2); }

.navbar {
  margin-bottom: 0px;
}

.navbar-inner {
  border-radius: 0px;
}

.test li {
  color: $mainWhite;
  margin-top: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-top: ($navbarHeight - 15) / 2;
  font-size: 30px;
  color: $mainWhite;
}

/* body */

.holder {
  margin: 20px;
  height: 100%;
}

.small-holder {
  padding: 15px;
  background-color: $mainWhite;
  div:not(:last-child) {margin-bottom: 10px;}
}

.narr-search-bar {
  padding: 5px 5px 5px 0px;
  margin: 20px 0px 0px 0px;
  background: $accentRed;
  height: 20px;
  h1 {
    font-size: 20px;
    padding: 0;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 1px;
    display: inline;
  }
  li > a {
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: $mainWhite;
    display: inline;
  }
  li {
    display: inline;
    margin-right: 10px;
  }
  form input {
    height: 20px;
    color: $mainBlack;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}

.profileheader {
  padding: 5px 5px 5px 0px;
  margin: 0px 0px 0px 0px;
  background: $accentOrange;
  height: 34px;
  h1 {
    font-size: 26px;
    padding: 0;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 4px;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 1px;
  }
  li > a {
    margin: 8px 15px 0px 0px;
    padding: 0;
    color: $mainWhite;
  }
  li > a:hover {
    color: $mainWhite;
    background-color: $accentOrange;
    text-decoration: underline;
  }
}

.hero-unit {
  margin-top: 20px;
  background: $accentRed;
}

.login {
  width: 75%;
}

.listing {
  padding: 15px 15px 5px 15px;
  margin: 0px 0px 0px 0px;
  background-color: $mainWhite;
  list-style: none;
  h1 {
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    color: $accentMagenta;
  }
  h2 {
    margin-bottom: 0px;
  }
  p {
    font-size: 12px;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
  li {
    overflow: auto;
    padding: 0px 0px 10px 10px;
  }
}

.narrative {
  border-radius: 5px;
  padding: 30px 30px 30px 30px;
  max-height: 180px;
  height: 180px;
  margin-bottom: 0px;
  background-color: $lightGrey;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: left;
    color: $darkGrey;
  }
  p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 200;
  }
  h3 {
    margin-bottom:0;
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

.plusimage {
  width: auto;
  overflow: hidden;
}

.info {
  padding: 20px 20px 20px 20px;
  height: auto;
  margin-bottom: 0px;
  background-color: $mainWhite;
  p:not(:last-child) {margin-bottom: 10px;}
  h1 {
    margin-bottom: 0px;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: $accentMagenta;
  }
  p {
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 200;
  }
  li {
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
  h4 {
    text-align: right;
    margin-top: 20px;
    margin-right: 1px;
    margin-bottom: 0px;
    padding: 0;
  }
  h5 {
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 200;
    text-align: center;
    color: $mainBlack;
  }
}

.profile {
  border-radius: 5px;
  padding: 20px 30px 15px 30px;
  margin-bottom: 20px;
  background-color: $mainWhite;
  p {
    font-size: 18px;
    line-height: 1em;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
  h4 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: left;
    color: $accentBlue
  }
}

.smallform {
  form {
    text-align: center;
  }
  form input {
    color: $mainBlack;
    margin: 0px;
    width: 368px;
  }
  form label {
    margin: 2px;
  }
  form select {
    margin: 0px;
  }
}

.recommendation {
  padding: 10px 10px 1px 10px;
  background-color: $lightGrey;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: center;
    color: $accentBlue;
  }
  p {
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1em;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: center;
  }
}

/* content styling */

.center {
  text-align: center;
  h1 {
    margin-bottom: 0px;
  }
}

.break-word {
  word-wrap: break-word;
}

/* image styling */

.medium {
  max-width: 200px;
  max-height: 200px;
  float: right;
  padding: 0px 0px 15px 15px;
}

.narr-image img {
  border-radius: 5px;
  margin-left: 10px;
  float: right;
  max-height: 240px;
  max-width: 240px;
}

/* color and background styles */

.background-grey {
  background-color: $lightGrey;
}

.background-wood {
  background: url('wood.jpg');
  background-repeat: repeat;  
}

.accentblue {
  background: $accentBlue;
}

.darkgrey {
  background: $darkGrey;
}

.roundedtop {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.roundedbottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 0px;
  @include box_sizing;
}

#error_explanation {
  margin-left: auto;
  margin-right: auto;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding-left: 12px;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.info .smallform {
  form {
    text-align: center;
  }
  form input {
    color: $mainBlack;
    margin: 0px;
    width: 368px;
  }
  form label {
    margin: 2px;
  }
  form select {
    margin: 0px;
  }
}
