<footer class="footer">
  <small>
    <a href="#">Wikiwitness</a>
    by Kedall McCarthy ~ Mustapha Isa
  </small>
  <nav>
    <ul>
      <li><%= link_to "Mission", mission_path %></li>
      <li><%= link_to "Guidelines", guidelines_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </nav>
</footer>