<div class="navbar navbig">
<div class="navbar-inner roundedtop accentblue">
<div class="container" style="width:auto">
   <nav>
    <%= link_to "WikiWitness", getting_started_path, id: "logo" %>
      <ul class="nav pull-right">
        <li><%= link_to "Search", search_area_path %></li>
      </ul>
    </br>
    </nav>
</div>
</div>
</div>